//====================================================================================================
header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fcf8f3;
		z-index: 2;
	}
}
.header {
	&__row {
		padding: 0px 33px;
		position: relative;
		@include flexbox();
		align-items: center;
		height: 70px;
		@media (max-width: $md3+px) {
			height: 50px;
		}
	}

	&__column {
	}
}

.header-logo {
	flex: 0 0 146px;
	&__logo {
		position: relative;
		z-index: 3;
	}
}
.header-menu {
	flex: 1 1 auto;
	&__icon {
		display: none;
		@media (max-width: $md3+px) {
			display: block;
			position: relative;
			z-index: 3;
			cursor: pointer;
			width: 30px;
			height: 18px;
			&::before,
			&::after {
				content: "";
				background-color: #fff;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				@include anim(0.3s, 0s);
			}
			&::before {
				top: 0;
			}
			span {
				position: absolute;
				background-color: #fff;
				width: 100%;
				height: 2px;
				left: 0;
				top: 8px;
				@include anim(0.3s, 0s);
			}
			&::after {
				bottom: 0;
			}

			&.active {
				&::before {
					@include rotate(45deg);
					top: 8px;
				}
				&::after {
					@include rotate(-45deg);
					bottom: 8px;
				}
				span {
					@include scale(0);
				}
			}
		}
	}

	&__menu {
		@media (max-width: $md3+px) {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: #b51886;
			padding: 100px 10px 20px 10px;
			@include anim(0.3s, 0s);
			&.active {
				top: 0;
			}
		}
	}

	&__list {
		@include flexbox();
		position: relative;
		z-index: 2;
		li {
			margin: 0px 60px 0px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
		@media (max-width: $md3+px) {
			display: block;
			li {
				margin: 0px 0px 20px 0px;
			}
		}
	}

	&__link {
		color: #222222;
		font-size: 17px;
		position: relative;
		@media (max-width: $md3+px) {
			font-size: 24px;
		}
	}
	&__link-plus {
		&::before,
		&::after {
			content: "";
			position: absolute;
			bottom: 5px;
			left: 130%;
			background-color: #222;
			width: 12px;
			height: 1px;
		}
		&::before {
			width: 18px;
			@include rotate(90deg);
		}
	}
}

.header-action {
	position: relative;
	z-index: 3;
	&__body {
		@include flexbox();
		align-items: center;
	}

	&__form {
		margin: 0px 40px 0px 0px;
		@include flexbox();
		align-items: center;
		justify-content: flex-end;
		position: relative;
	}

	&__input {
		height: 32px;
		width: 0;
		padding: 0 15px;
		border: 1px solid #222;
		border-radius: 40px;
		background: #fcf8f3;
		@include anim_cubic(0.4s, 0.4s);
		position: absolute;
		top: -5px;
		right: 40px;
		opacity: 0;
		visibility: hidden;
		&.active {
			opacity: 1;
			visibility: visible;
			width: 250px;
		}
	}

	&__button {
		cursor: pointer;
		img {
			background-color: #fcf8f3;
		}
	}

	&__kart {
		height: 26px;
		width: 38px;
		display: inline-block;
		background: url(../img/icons/card.svg) left no-repeat;
		padding: 0px 0px 0px 32px;
		span {
			color: #222;
			font-size: 14px;
		}
	}
}

//====================================================================================================
